{% extends "base.html" %}
{% block content %}
    <h1>EECS485 PROJECT 1</h1>
    <p class="center">
      Login
    </p>
    <ul>
        <div id="error_mess"></div>
        <form id="login_user">   
            Username: <input type ="text" name="username" id="login_username_input">
            Password: <input type="password" name="password" id="login_password_input">
            <input type="submit" value="submit" id="login_submit">
        </form>

        <script type="text/javascript">
            $(document).ready( function(e) {
                $('#login_link').hide();
            });
            $('#login_user').submit( function(e) {
                e.preventDefault();
                $('.error').remove();
                $.ajax({
                    type: 'POST',
                    contentType: "application/json; charset=UTF-8",
                    data: JSON.stringify(
                            {'username': $("#login_username_input").val(),
                            'password': $("#login_password_input").val()}),
                    url: 'api/v1/login',
                    success: function(data) {
                        temp = window.location.href;
                        temp = temp.split("url=")[1];
                        if(temp){
                            window.location.href = temp;
                        }
                        else{
                            window.location.href ="/p2gkisj6/p3";
                        }

                    },
                    error: function(errors) {
                        str = JSON.parse(JSON.stringify(errors));
                        str = str.responseText;
                        str = JSON.parse(str);
                        str = str.errors;
                        for(x in str){
                            $('#error_mess').append('<p class="error">' + str[x].message + '</div>')
                        }

                    }
                });
            });
        </script>
     </ul>
{% endblock %}