{% extends "base.html" %}
{% block content %}
    <h1>EECS485 PROJECT 1</h1>
    <p class="center">
    New User
    </p>
    <ul>
        <div id="error_mess"></div>
        <br>
        <form id="new_user">   
            Username: <input type ="text" name="username" id="new_username_input"><br/>
            First Name: <input type ="text" name="firstname" id="new_firstname_input"><br/>
            Last Name: <input type ="text" name="lastname" id="new_lastname_input"><br/>
            Password: <input type="password" name="password1" id="new_password1_input"><br/>
            Confirm Password: <input type="password" name="password2" id="new_password2_input"><br/>
            Email: <input type ="text" name="email" id="new_email_input"><br/>
            <input type="submit" id="new_submit">Submit
        </form>
        <script type="text/javascript">
            $('#new_user').submit( function(e) {
                $('.error').remove();
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    contentType: "application/json; charset=UTF-8",
                    data: JSON.stringify({'username': $("#new_username_input").val(),
                            'firstname': $("#new_firstname_input").val(),
                            'lastname': $("#new_lastname_input").val(),
                            'password1': $("#new_password1_input").val(),
                            'password2': $("#new_password2_input").val(),
                            'email': $("#new_email_input").val()}),
                    url: 'api/v1/user',
                    success: function(data) {
                        temp = window.location.href;
                        temp = temp.split("/p3")[0];
                        window.location.href = temp + "/p3/login";
                    },
                    error: function(errors) {
                        str = JSON.parse(JSON.stringify(errors));
                        str = str.responseText;
                        str = JSON.parse(str);
                        str = str.errors;
                        for(x in str){
                            $('#error_mess').append('<p class="error">' + str[x].message + '</div>')
                        }

                    }
                });
            });
        </script>
    </ul>
{% endblock %}