{% extends "base.html" %}
{% block content %}
    <h1>EECS485 PROJECT 1
    <p class="center">
     Edit User
    </h1>
    <div id="error_mess"></div>

    <ul>
        <form action="{{url_for('main.user_edit_route')}}" id="update_user" method="POST"><br>
            New First Name: <input type="text" name="firstname" id="update_firstname_input"><br>
            New Last Name: <input type="text" name="lastname" id="update_lastname_input"><br>
            New Email: <input type ="text" name="email" id="update_email_input"><br>
            New Password: <input type="password" name="password1" id="update_password1_input"><br>
            Confirm New Password: <input type="password" name="password2" id="update_password2_input"><br>
            <input type="submit" value="Submit" id="update_submit">
        </form>
    </ul>

    <script type="text/javascript">
        $(document).ready( function(e) {
            $.ajax({
                type: 'GET',
                contentType: "application/json; charset=UTF-8",
                url: 'http://localhost:3000/p2gkisj6/p3/api/v1/user',
                success: function(data) {
                    str = JSON.parse(JSON.stringify(data));
                    str = str.data;
                    $("#update_firstname_input").attr("value", str.firstname);
                    $('#update_lastname_input').attr("value", str.lastname);
                    $('#update_email_input').attr("value", str.email);
                },
                error: function() {
                    window.location.href = "http://localhost:3000/p2gkisj6/p3/login";
                }
            });
        });
        $('#update_user').submit( function(e) {
            $('.error').remove();
            e.preventDefault();
            $.ajax({
                type: 'PUT',
                contentType: "application/json; charset=UTF-8",
                data: JSON.stringify({
                        'firstname': $("#update_firstname_input").val(),
                        'lastname': $("#update_lastname_input").val(),
                        'password1': $("#update_password1_input").val(),
                        'password2': $("#update_password2_input").val(),
                        'email': $("#update_email_input").val()}),
                url: 'http://localhost:3000/p2gkisj6/p3/api/v1/user',
                success: function(data) {
                    window.location.href = "http://localhost:3000/p2gkisj6/p3/user/edit";
                },
                error: function(errors) {
                    str = JSON.parse(JSON.stringify(errors));
                    str = str.responseText;
                    str = JSON.parse(str);
                    str = str.errors;
                    for(x in str){
                        $('#error_mess').append('<p class="error">' + str[x].message + '</div>')
                    }
                }
            });
        });
    </script>
{% endblock %}